{% extends "base.html" %}
{# this can be removed when django 1.4 is EOL, because it is the default behavior in 1.5 #}
{% load url from future %}

{# This template defines the common structure for the rpki.gui.app application. #}

{% block sidebar %}

<h2>{{ request.session.handle }}</h2>

{# common navigation #}

<ul class='nav nav-list'>
  <li><a href="{% url "rpki.gui.app.views.dashboard" %}">dashboard</a></li>
  <li><a href="{% url "rpki.gui.app.views.route_view" %}">routes</a></li>
  <li class="divider"></li>
  <li><a href="{% url "rpki.gui.app.views.conf_list" %}" title="select a different resource handle to manage">select identity</a></li>
{% if request.user.is_superuser %}
  <li class="divider"></li>
  <li><a href="{% url "rpki.gui.app.views.user_list" %}" title="manage users"><i class="icon-user"></i> web users</a></li>
  <li><a href="{% url "rpki.gui.app.views.resource_holder_list" %}" title="manage resource holders"><i class="icon-user"></i> resource holders</a></li>
  <li><a href="{% url "rpki.gui.app.views.client_list" %}" title="manage repository clients">repository clients</a></li>
{% endif %}
{% block sidebar_extra %}{% endblock %}
</ul>

{% endblock sidebar %}
