{% extends "app/object_detail.html" %}

{% block object_display %}
<div class='row'>
  <div class='span2'>
    <p><strong>Child Handle</strong>
  </div>
  <div class='span2'>
    <p>{{ object.handle }}
  </div>
</div>
<div class='row'>
  <div class='span2'>
    <p><strong>Valid until</strong>
  </div>
  <div class='span4'>
    <p>{{ object.valid_until }}
  </div>
</div>

<div class='row'>
  <div class='span4'>
    <strong>Addresses</strong>
    {% if object.address_ranges.all %}
    <ul class='unstyled'>
      {% for a in object.address_ranges.all %}
      <li>{{ a.as_resource_range }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p style='font-style:italic'>none</p>
    {% endif %}
  </div>
  <div class='span4'>
    <strong>ASNs</strong>
    {% if object.asns.all %}
    <ul class='unstyled'>
    {% for a in object.asns.all %}
    <li>{{ a.as_resource_range }}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p style='font-style:italic'>none</p>
    {% endif %}
  </div>
</div>
{% endblock object_display %}

{% block action %}
<a class='btn' href="{% url rpki.gui.app.views.child_edit object.pk %}" title='Edit this child'><i class="icon-edit"></i> Edit</a>
<a class='btn' href="{% url rpki.gui.app.views.child_add_asn object.pk %}" title='Delegate an ASN to this child'><i class="icon-plus-sign"></i> AS</a>
<a class='btn' href="{% url rpki.gui.app.views.child_add_prefix object.pk %}" title='Delegate a prefix to this child'><i class="icon-plus-sign"></i> Prefix</a>
<a class='btn' href="{% url rpki.gui.app.views.child_response object.pk %}" title='Download XML file to send to child'><i class="icon-download"></i> Export</a>
<a class="btn" href="{% url rpki.gui.app.views.child_delete object.pk %}" title="Delete this child"><i class="icon-trash"></i> Delete</a>
{% endblock action %}
