{% extends "base.html" %}

{% block content %}

<p id='breadcrumb'>
<a href="{% url rpki.gui.app.views.dashboard %}">{{ request.session.handle.handle }}</a> &gt;
<a href="{{ object.get_absolute_url }}">{{ object.handle }}</a> &gt; Delete
</p>

<h1>Delete Child</h1>

<p><span style='font-weight:bold'>Child:</span> {{ object.handle }}</p>

<form method='POST' action='{{ request.get_full_path }}'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit'/ value='Delete'>
</form>

{% endblock %}
