{% extends "app/app_base.html" %}

{% block content %}
<!--
<ul class='breadcrumb'>
  <li><a href="{% url rpki.gui.app.views.dashboard %}">{{ request.session.handle }}</a> <span class='divider'>/</span></li>
  <li><a href="{% url rpki.gui.app.views.ghostbusters_list %}">Ghostbusters</a> <span class='divider'>/</span> </li>
  <li class='active'>{{ object.full_name }}</li>
</ul>
-->

<div class='page-header'>
  <h1>Ghostbuster View</h1>
</div>

<table class='zebra-striped'>
    <tr><td >Full Name</td><td>{{ object.full_name }}</td></tr>

    {% if object.honorific_prefix %}
    <tr><td >Honorific Prefix</td><td>{{ object.honorific_prefix }}</td></tr>
    {% endif %}

    {% if object.organization %}
    <tr><td >Organization</td><td>{{ object.organization }}</td></tr>
    {% endif %}

    {% if object.telephone %}
    <tr><td >Telephone</td><td>{{ object.telephone }}</td></tr>
    {% endif %}

    {% if object.email_address %}
    <tr><td >Email</td><td>{{ object.email_address }}</td></tr>
    {% endif %}

    {% if object.box %}
    <tr><td >P.O. Box</td><td>{{ object.box }}</td></tr>
    {% endif %}

    {% if object.extended %}
    <tr><td >Extended Address</td><td>{{ object.extended }}</td></tr>
    {% endif %}

    {% if object.street %}
    <tr><td >Street Address</td><td>{{ object.street }}</td></tr>
    {% endif %}

    {% if object.city %}
    <tr><td >City</td><td>{{ object.city }}</td></tr>
    {% endif %}

    {% if object.region %}
    <tr><td >Region</td><td>{{ object.region }}</td></tr>
    {% endif %}

    {% if object.code %}
    <tr><td >Postal Code</td><td>{{ object.code }}</td></tr>
    {% endif %}

    {% if object.country %}
    <tr><td >Country</td><td>{{ object.country }}</td></tr>
    {% endif %}

</table>

{% block extra %}
<div class='actions'>
  <a class='btn' href='{{ object.get_absolute_url }}/edit'>Edit</a>
  <a class='btn danger' href='{{ object.get_absolute_url }}/delete'>Delete</a>
</div>
{% endblock %}

{% endblock %}

<!-- vim: set sw=2: -->
