{% extends "app/app_base.html" %}
{% load app_extras %}

{# generic object list #}

{% block content %}

<div class='page-header'>
  <h1>{% verbose_name_plural object_list %}</h1>
</div>

{% if object_list %}
<ul>
  {% for object in object_list %}
  {% block object_detail %}
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  {% endblock %}
  {% endfor %}
</ul>
{% else %}
<div class='alert-message warning'>
  <p>There are <strong>no items</strong> in this list.
</div>
{% endif %}

{% block actions %}
{% if create_url %}
<div class='actions'>
  <a class='btn' href='{{ create_url }}'>{{ create_label|default:"Create" }}</a>
</div>
{% endif %}
{% endblock %}

{% endblock %}

<!-- vim: set sw=2: -->
