{% extends "app/app_base.html" %}
{% load app_extras %}

{% block content %}
<div class="page-header">
  <h1>{% verbose_name object %} {% block action_name %}Detail{% endblock action_name %}
</div>

{# this block is reponsible for rendering the object #}
{% block object_display %}
{{ object }}
{% endblock object_display %}

{% block action %}
<a class="btn" href="{{ object.get_absolute_url }}edit"><i class="icon-edit"></i> Edit</a>
<a class="btn btn-danger" href="{{ object.get_absolute_url }}delete"><i class="icon-remove icon-white"></i> Delete</a>
{% endblock action %}

{% endblock content %}
