{% extends "app/app_base.html" %}

{# Generic object list displayed as a table. #}

{% block content %}

<div class='page-header'>
  <h1>{{ page_title }}</h1>
</div>

{% if object_list %}
<table style='zebra-striped condensed-table'>
  <tr>
    {% block table_header %}{% endblock %}
  </tr>
  {% for object in object_list %}
  <tr>
    {% block object_detail %}
    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
    {% endblock %}
  </tr>
  {% endfor %}
</table>
{% else %}
<div class='alert-message warning'>
  <p>There are <strong>no items</strong> in this list.
</div>
{% endif %}

{% block actions %}
{% if create_url %}
<div class='actions'>
  <a class='btn' href='{{ create_url }}'>{{ create_label|default:"Create" }}</a>
</div>
{% endif %}
{% endblock %}

{% endblock %}

<!-- vim: set sw=2: -->
