{% extends parent_template %}
{% comment %}
Since Django templates do not support multiple inheritance, we simluate it by
dynamically extending from the *_detail.html template for a concrete object
type.  The *DeleteView classes should set a "parent_template" variable which is
string specifying the concrete template to inherit from.
{% endcomment %}

{% block action %}
<div class="alert alert-warning alert-block">
  <h4>Warning!</h4>
  Please confirm that you would like to delete this object
</div>

<form action='' method='POST'>
  {% csrf_token %}
  <input class='btn btn-danger' type='submit' value='Delete'>
  <a class='btn' href="{% url rpki.gui.app.views.dashboard %}">Cancel</a>
</form>
{% endblock %}
