{% extends "app/object_detail.html" %}

{% block object_detail %}
<h2>{{ object.handle }}</h2>
<div class='row'>
  <div class='span4'>
    <h3>Delegated Addresses</h3>
    <ul class='unstyled'>
      {% for c in object.certs.all %}
      {% for a in c.address_ranges.all %}
      <li>{{ a }}</li>
      {% endfor %}
      {% for a in c.address_ranges_v6.all %}
      <li>{{ a }}</li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div class='span4'>
    <h3>Delegated ASNs</h3>
    <ul class='unstyled'>
      {% for c in object.certs.all %}
      {% for a in c.asn_ranges.all %}
      <li>{{ a }}</li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock object_detail %}

{% block actions %}
<a class='btn' href='{{ object.get_absolute_url }}/export' title='Download XML to send to repository operator'>Export</a>
{% endblock actions %}
