{% extends "app/app_base.html" %}

{% block content %}

<div class='page-title'>
  <h1>Create ROA</h1>
</div>

<div class='row'>
  <div class='span8'>
    <form method='POST' action='{{ request.get_full_path }}'>
      {% csrf_token %}
      {% include "app/bootstrap_form.html" %}
      <div class='actions'>
        <input class='btn primary' type='submit' value='Create'/>
        <a class='btn' href='{% url rpki.gui.app.views.roa_list %}'>Cancel</a>
      </div>
    </form>
  </div>
  <div class='span8 offset8'>
    <p>Matched Routes

    <table style='zebra-striped condensed-table'>
      <tr>
        <th>Prefix</th>
        <th>Origin AS</th>
        <th>Validation Status</th>
      </tr>
      {% for r in routes %}
      <tr>
        <td>{{ r.get_prefix_display }}</td>
        <td>{{ r.asn }}</td>
        <td><span class='label {{ r.status_label }}'>{{ r.status }}</span></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}

{# vim:set sw=2: #}
