{% extends "app/object_detail.html" %}

{# template for displaying the list of ROAs covering a specific route #}

{% block object_display %}

<div class="row">
  <div class="span3 well">
    <table class="table table-striped table-condensed">
      <tr><th>Prefix</th><th>AS</th></tr>
      <tr>
	<td>{{ object.as_resource_range }}</td>
	<td>{{ object.asn }}
	</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
<p>The table below lists all ROAs which cover the route described above.

<table class="table table-striped table-condensed">
  <tr>
    <th>Prefix</th>
    <th>Max Length</th>
    <th>ASN</th>
    <th>Expires</th>
    <th>URI</th>
  </tr>
  {% for pfx in roa_prefixes %}
  <tr>
    <td>{{ pfx.as_resource_range }}</td>
    <td>{{ pfx.max_length }}</td>
    <td>{{ pfx.roas.all.0.asid }}</td>
    <td>{{ pfx.roas.all.0.not_after }}</td>
    <td>{{ pfx.roas.all.0.repo.uri }}</td>
  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}
