{% extends "app/app_base.html" %}

{% block sidebar_extra %}
<p>
BGP data updated<br>
IPv4: {{ timestamp.bgp_v4_import.isoformat }}<br>
IPv6: {{ timestamp.bgp_v6_import.isoformat }}
<p>
rcynic cache updated<br>
{{ timestamp.rcynic_import.isoformat }}

{% endblock sidebar_extra %}

{% block content %}

<div class='page-header'>
  <h1>Route View</h1>
</div>

<p>
This view shows currently advertised routes for the prefixes listed in resource certs received from RPKI parents.

<table class='table table-striped table-condensed'>
  <tr>
    <th>Prefix</th>
    <th>Origin AS</th>
    <th>Validation Status</th>
  </tr>
  {% for r in routes %}
  <tr>
    <td>{{ r.get_prefix_display }}</td>
    <td>{{ r.asn }}</td>
    <td>
      <span class='label {{ r.status_label }}'>{{ r.status }}</span>
      <a href='{% url rpki.gui.app.views.route_detail r.pk %}' title='display ROAs covering this prefix'><i class="icon-info-sign"></i></a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
