{% extends "app/app_base.html" %}

{% block content %}
<div class='page-title'>
  <h1>Users</h1>
</div>

<table class='table table-striped table-condensed'>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
  </tr>
  {% for u in users %}
  <tr>
    <td>{{ u.0.handle }}</td>
    <td>{{ u.1.email }}</td>
    <td>
      <a class='btn btn-small' href='{% url rpki.gui.app.views.user_edit u.0.pk %}' title="Edit"><i class="icon-edit"></i></a>
      <a class='btn btn-small' href='{% url rpki.gui.app.views.user_delete u.0.pk %}' title="Delete"><i class="icon-trash"></i></a>
    </td>
  </tr>
  {% endfor %}
</table>

<a class='btn' href="{% url rpki.gui.app.views.user_create %}" title="create a new locally hosted resource handle">Create</a>
{% endblock content %}
