{% extends "app/app_base.html" %}

{% block content %}
<div class='page-title'>
  <h1>Delete User</h1>
</div>

<div class='alert-message block-message warning'>
  <p><strong>Please confirm</strong> that you would like to delete the following user account.
  <h2>{{ object.handle }}</h2>
  <div class='alert-actions'>
    <form method='POST' action='{{ request.get_full_path }}'>
      {% csrf_token %}
      {{ form }}
      <input class='btn danger' value='Delete' type='submit'>
      <a class='btn' href='{% url rpki.gui.app.views.user_list %}'>Cancel</a>
    </form>
  </div>
</div>
{% endblock content %}
