{% load app_extras %}

<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet">

    <meta name='Content-Type' content='text/html; charset=UTF-8'>

    <title>{% block title %}RPKI {% if request.session.handle %}: {{ request.session.handle }}{% endif %}{% endblock %}</title>
    {% block head %}{% endblock %}

    <link rel="icon" href="{{ STATIC_URL }}img/sui-riu.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/sui-riu.ico" type="image/x-icon">
  </head>

  <body>
    <div class="container-fluid">

      {% if messages %}
      {% for message in messages %}
      {# this will break if there is more than one tag, but don't expect to use that feature #}
      <div class='alert alert-{{ message.tags }}'>
	{{ message }}
      </div>
      {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}

    </div><!-- /container -->
    <script src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </body>
</html>
