
[ req ]
distinguished_name	= req_dn
x509_extensions		= req_x509_ext
prompt			= no
default_md		= sha1

[ req_dn ]
CN			= Test Certificate Ginny EE

[ req_x509_ext ]
basicConstraints	= CA:false
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always

