*.[oa]
*.dSYM
*.log
*.prof
*.py[co]
*~
.gdbinit
/TAGS
/VERSION
/autom4te.cache
/build
/ca/examples/rpki.conf
/ca/tests/left-right-protocol-samples
/ca/tests/publication-control-protocol-samples
/ca/tests/publication-protocol-samples
/ca/tests/rrdp-samples
/ca/tests/smoketest.dir
/ca/tests/yamltest.backup.*
/ca/tests/yamltest.dir
/ca/tests/yamltest.pid
/config.log
/config.status
/debian
/dist
/doc/cronjob.lock
/doc/cronjob.log
/installed
/openssl/openssl
/openssl/openssl-1.[0-9].[0-9]*/**
/openssl/openssl-SNAP-*/**
/openssl/tests/resource-set-test
/openssl/tests/test.cer
/openssl/tests/test.key
/rp/config/rpki.rp.conf.sample
/rp/config/rpki.rp.xml
/rp/rcynic/sample-trust-anchors/arin.tal
/rp/rpki-rtr/*.ax
/rp/rpki-rtr/*.ax.v[0-9]
/rp/rpki-rtr/*.ix.*
/rp/rpki-rtr/*.ix.*.v[0-9]
/rp/rpki-rtr/current
/rp/rpki-rtr/current.v[0-9]
/rp/rpki-rtr/sockets
/rp/utils/hashed-pem-dir
/rpki/POW/*.so
/rpki/autoconf.py
/rpki/version.py
/setup_autoconf.py
Makefile
rcynic-data
rcynic-rrdp.conf
rcynic.db
rcynic.xml
screenlog.*
