{% extends "base.html" %}

{% block content %}
<h1>Handle List</h1>
<p>Please select a handle.

<ul>
{% for c in conf_list %}
<li><a href="/myrpki/conf/select?handle={{ c.handle }}&next={{ next_url }}">{{ c.handle }}</a>
{% endfor %}
</ul>

<!--
<p><a href="/myrpki/conf/add?next={{ next_url }}">[create]</a>
-->

{% endblock %}
{% extends "base.html" %}

{% block content %}
<h1>Handle List</h1>
<p>Please select a handle.

<ul>
{% for c in conf_list %}
<li><a href="/myrpki/conf/select?handle={{ c.handle }}&next={{ next_url }}">{{ c.handle }}</a>
{% endfor %}
</ul>

<!--
<p><a href="/myrpki/conf/add?next={{ next_url }}">[create]</a>
-->

{% endblock %}
