{% extends "base.html" %}

{% block content %}
<p>Handle: {{ request.session.handle }}
| <a href="/myrpki/conf/export">export</a>
| <a href="/myrpki/conf/list">change</a>

<div style="border: inset">
<h1 style="text-align: center">Parents</h1>

<ul>
{% for parent in request.session.handle.parents.all %}
<li><a href="{{ parent.get_absolute_url }}">{{ parent.handle }}</a>

{% if parent.resources.count %}
<p>Accepted resources:
<ul>
{% for cert in parent.resources.all %}

{% for asn in cert.asn.all %}
<li><a href="{{ asn.get_absolute_url }}">{{ asn }}</a>
{% endfor %}

{% for address in cert.address_range.all %}
<li><a href="{{ address.get_absolute_url }}">{{ address }}</a>
{% endfor %}

{% endfor %} <!--certs-->
</ul>
{% endif %}

{% endfor %}
</ul>

<a href="/myrpki/import/parent">[add]</a>
</div>

<span>
<div style="border: outset">
<h1 style="text-align: center">Children</h1>
<p>
<ul>
{% for child in request.session.handle.children.all %}
<li><a href="/myrpki/child/{{ child.handle }}">{{ child.handle }}</a>
{% if child.address_range.count or child.asn.count %}
<p>Delegated resources:
<ul>
{% for asn in child.asn.all %}
<li><a href="{{ asn.get_absolute_url }}">{{ asn }}</a>
{% endfor %}
{% for address in child.address_range.all %}
<li><a href="{{ address.get_absolute_url}}">{{ address }}</a>
{% endfor %}
</ul>
{% endif %}
{% endfor %}
</ul>
<a href="/myrpki/import/child">[add]</a>
</div>

<div style="border: outset">
<h1 style="text-align: center">My ROA [request]s</h1>
{% if request.session.handle.roas.count %}
<table style="border: groove; width: 100%" border="1">
<tr>
<th>Prefix</th>
<th>ASN</th>
<th>Max Len</th>
<th>Comments</th>
<th></th>
</tr>
{% for roa in request.session.handle.roas.all %}
{% for address_range in roa.prefix.all %}
<tr>
<td>{{ address_range }}</td>
<td>{{ roa.asn }}</td>
<td>{{ roa.max_len }}</td>
<td>{{ roa.comments }}</td>
<td><a href="{{ roa.get_absolute_url }}">edit</a></td>
</tr>
{% endfor %}
{% endfor %}
</table>
{% else %}
<p>
-- none --
{% endif %}
<p><a href="/myrpki/roa/">[add]</a>
</div>

<div style="border: outset">
<h1 style="text-align: center">Unallocated Resources</h1>
{% if asns or ars %}
<ul>
    {% for asn in asns %}
    <li><a href="{{ asn.get_absolute_url }}">{{ asn }}</a>
    {% endfor %}
    {% for addr in ars %}
    <li><a href="{{ addr.get_absolute_url }}">{{ addr }}</a>
    {% endfor %}
{% else %}
<p>-- none --
{% endif %}

    <!--
<li>Address range 172.17.2.0-172.17.255.255
    | <a href="#">subdivide</a> |
    <a href="#">give to child</a> |
    <a href="#">issue roa</a>
<li>ASN 1 | <a href="#">give to child</a>
<li>ASNs 3-100 | <a href="#">subdivide</a> |
               <a href="#">give to child</a>
               -->
</ul>
</div>
</span>
{% endblock %}
