{% extends "base.html" %}

{% block css %}
table { border-collapse: collapse }
th { border: solid 1px; padding: 1em }
td { border: solid 1px; text-align: center; padding-left: 1em; padding-right: 1em }
{% endblock %}

{% block content %}
<p>Handle: {{ request.session.handle }}
| <a href="{% url rpki.gui.app.views.conf_export %}">export identity</a>
| <a href="{% url rpki.gui.app.views.conf_list %}">select</a>

<div style="border: inset">
<h1 style="text-align: center">Parents</h1>

<ul>
{% for parent in request.session.handle.parents.all %}
<li><a href="{{ parent.get_absolute_url }}">{{ parent.handle }}</a>
<p>
<table>
<tr><th>Accepted Resource</th><th>Not Before</th><th>Not After</th></tr>
{% for cert in parent.resources.all %}

{% for asn in cert.asn.all %}
<tr><td style='text-align:left'><a href="{{ asn.get_absolute_url }}">{{ asn }}</a></td>
<td>{{cert.not_before}}</td>
<td>{{cert.not_after}}</td>
</tr>
{% endfor %}

{% for address in cert.address_range.all %}
<tr>
    <td style='text-align: left'><a href="{{ address.get_absolute_url }}">{{ address }}</a></td>
    <td>{{cert.not_before}}</td>
    <td>{{cert.not_after}}</td>
</tr>
{% endfor %}

{% endfor %} <!--certs-->
</table>

{% endfor %}
</ul>

<!--
<a href="/myrpki/import/parent">[add]</a>
-->
</div>

<span>
<div style="border: outset">
<h1 style="text-align: center">Children</h1>
{% if request.session.handle.children.all %}
<ul>
{% for child in request.session.handle.children.all %}
<li><a href="{% url rpki.gui.app.views.child_view child.handle %}">{{ child.handle }}</a>
{% if child.address_range.count or child.asn.count %}
<p>Delegated resources:
<ul>
{% for asn in child.asn.all %}
<li><a href="{{ asn.get_absolute_url }}">{{ asn }}</a>
{% endfor %}
{% for address in child.address_range.all %}
<li><a href="{{ address.get_absolute_url}}">{{ address }}</a>
{% endfor %}
</ul>
{% endif %}
{% endfor %}
</ul>
<!--
<a href="/myrpki/import/child">[add]</a>
-->
{% else %}
<p>-- none --
{% endif %}

<p>
Export (csv): <a href="{% url rpki.gui.app.views.download_asns request.session.handle %}">asns</a> |
<a href="{% url rpki.gui.app.views.download_prefixes request.session.handle %}">prefixes</a>

</div>

<div style="border: outset"> <!-- ROAs -->
<h1 style="text-align: center">My ROA [request]s</h1>

<table>
<tr> <th>Prefix</th> <th>ASN</th> </tr>

{% for roa in request.session.handle.roas.all %}
<tr>
    <td style='text-align: left'>
        <ul style='list-style-position: outside'>
{% for req in roa.from_roa_request.all %}
            <li><a href="{{ req.prefix.get_absolute_url }}">{{ req.as_roa_prefix }}</a>
{% endfor %}
        </ul>
    </td>
    <td>{{ roa.asn }}</td>
</tr>
{% endfor %}
</table>

<p><a href="{% url rpki.gui.app.views.download_roas request.session.handle %}">export (csv)</a>

</div><!-- roas -->

<div style="border: outset">
	<h1 style="text-align: center">Unallocated Resources</h1>
	{% if asns or ars %}

	{% if asns %}
	<ul>
	    {% for asn in asns %}
	    <li>{{ asn.as_ul|safe }}
	    {% endfor %} <!-- ASNs -->
        </ul>
	{% endif %}

	{% if ars %}
	<ul>
	    {% for addr in ars %}
	    <li>{{ addr.as_ul|safe }}
	    {% endfor %} <!-- addrs -->
	</ul>
	{% endif %}

	{% else %}
	<p>-- none --
	{% endif %}

	</ul>
</div>
</span>
{% endblock %}
