{% extends "rpkigui/app_base.html" %}

{% block content %}

<!--
<ul class='breadcrumb'>
  <li><a href="{% url rpki.gui.app.views.dashboard %}">{{ request.session.handle }}</a> <span class='divider'>/</span></li>
  <li>AS <span class='divider'>/</span></li>
  <li class='active'> {{ asn }}</li>
</ul>
-->

<div class='page-header'>
  <h1>AS View</h1>
</div>

<div class='row'>
  <div class='span2'>
    ASN
  </div>
  <div class='span11 offset2'>
    {{ asn }}
  </div>
</div>

{% if asn.parent %}
<div class='row'>
  <div class='span2'>
    Suballocated from
  </div>
  <div class='span11 offset2'>
    <a href="{{ asn.parent.get_absolute_url }}">{{ asn.parent }}</a>
  </div>
</div>
{% endif %}

<div class='row'>
  <div class='span2'>
    Received from
  </div>
  <div class='span11 offset2'>
            {% for p in parent %}
            <a href="{{ p.get_absolute_url }}">{{ p.handle }}</a>
            {% endfor %}
  </div>
</div>

<div class='row'>
  <div class='span2'>
    Validity
  </div>
  <div class='span11 offset2'>
    {{ asn.from_cert.all.0.not_before }} - {{ asn.from_cert.all.0.not_after }}
  </div>
</div>

{% if asn.allocated %}
<div class='row'>
  <div class='span2'>
    Allocated
  </div>
  <div class='span11 offset2'>
    <a href="{{asn.allocated.get_absolute_url}}">{{asn.allocated.handle}}</a>
  </div>
</div>
{% endif %}

{% if asn.children.count %}
<h2>Suballocations</h2>

<ul>
{% for subaddr in asn.children.all %}
<li><a href="{{ subaddr.get_absolute_url }}">{{ subaddr }}</a>
{% endfor %}
</ul>

{% endif %}

{% if roas %}
<h2>ROAs</h2>
<table>
    <tr><th>Prefixes</th></tr>
    {% for r in roas %}
    <tr>
        <td style='text-align: left'>
            <ul>
            {% for p in r.from_roa_request.all %}
                <li><a href="{{ p.prefix.get_absolute_url }}">{{ p.prefix }}</a>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </ul>
</table>
{% endif %} <!-- roas -->

{% if unallocated %}
<h2>Unallocated</h2>
<ul>
{% for u in unallocated %}
<li>{{ u }}
{% endfor %}
</ul>
{% endif %}

{% if form %}
<h2>Edit</h2>
<form method="POST" action="{{ request.get_full_path }}">
  {% csrf_token %}
  {% include "rpkigui/bootstrap_form.html" %}
  <div class='actions'>
    <input class='btn primary' value='Save' type="submit">
    <a class='btn' href='{{ asn.get_absolute_url }}'>Cancel</a>
  </div>
</form>
{% else %}

<div class='actions'>
  <a class='btn' href="{{asn.get_absolute_url}}/allocate" title="give this ASN to a child">Allocate</a>
</div>
{% endif %}

{% endblock %}

<!-- vim: set sw=2: -->
