{% extends "rpkigui/app_base.html" %}

{% block content %}

<div class='page-header'>
  <h1>Child Detail</h1>
</div>

<table style='condensed-table'>
    <tr>
        <td>Child</td>
        <td>{{ child.handle }}</td>
    </tr>
    <tr>
        <td>Valid until</td>
        <td>{{ child.valid_until }}</td>
    </tr>
</table>

<h2>Delegated Addresses</h2>
{% if child.address_ranges.all %}
<ul>
{% for a in child.address_ranges.all %}
<li>{{ a.as_resource_range }}</li>
{% endfor %}
</ul>
{% else %}
<p style='font-style:italic'>none</p>
{% endif %}

<h2>Delegated ASNs</h2>
{% if child.asns.all %}
<ul>
{% for a in child.asns.all %}
<li>{{ a.as_resource_range }}</li>
{% endfor %}
</ul>
{% else %}
<p style='font-style:italic'>none</p>
{% endif %}

<hr>

{% if form %}
<form method='POST' action='{{ request.get_full_path }}'>
    {% csrf_token %}
    <input type='submit'/>
</form>
{% else %}

<div class='actions'>
  <a class='btn' href="{{ child.get_absolute_url }}/edit">Edit</a>
  <a class='btn' href="{{ child.get_absolute_url }}/export" title="download XML response file to return to child">Export child response</a></li>
  <a class='btn' href="{{ child.get_absolute_url }}/export_repo" title="download XML response to publication client request">Export repo response</a></li>
  <a class='btn danger' href="{{ child.get_absolute_url }}/delete" title="remove this handle as a RPKI child">Delete</a></li>
  <a class='btn danger' href="{{ child.get_absolute_url }}/destroy" title="completely remove a locally hosted resource handle and gui account">Destroy</a></li>
</div>

{% endif %}

{% endblock %}
