{% extends "base.html" %}

{% block sidebar %}
<ul class='compact'>
    <li><a href="{{ child.get_absolute_url }}/edit">edit</a></li>
    <li><a href="{{ child.get_absolute_url }}/export" title="download XML response file to return to child">export child response</a></li>
    <li><a href="{{ child.get_absolute_url }}/export_repo" title="download XML response to publication client request">export repo response</a></li>
    <li><a href="{{ child.get_absolute_url }}/delete" title="remove this handle as a RPKI child">delete</a></li>
    <li><a href="{{ child.get_absolute_url }}/destroy" title="completely remove a locally hosted resource handle and gui account">destroy</a></li>
</ul>
{% endblock %}

{% block content %}
<p id='breadcrumb'>
<a href="{% url rpki.gui.app.views.dashboard %}">{{ request.session.handle.handle }}</a> &gt; {{ child.handle }}
</p>

<h1>Child View</h1>

<table>
    <tr>
        <td>Child</td>
        <td>{{ child.handle }}</td>
    </tr>
    <tr>
        <td>Valid until</td>
        <td>{{ child.valid_until }}</td>
    </tr>
</table>

<h2>Delegated Addresses</h2>
{% if child.address_range.all %}
<ul>
{% for a in child.address_range.all %}
<li><a href="{{ a.get_absolute_url }}">{{ a }}</a></li>
{% endfor %}
</ul>
{% else %}
<p style='font-style:italic'>none</p>
{% endif %}

<h2>Delegated ASNs</h2>
{% if child.asn.all %}
<ul>
{% for a in child.asn.all %}
<li><a href="{{ a.get_absolute_url }}">{{ a }}</a></li>
{% endfor %}
</ul>
{% else %}
<p style='font-style:italic'>none</p>
{% endif %}

{% if form %}
<form method='POST' action='{{ request.get_full_path }}'>
    {% csrf_token %}
    <input type='submit'/>
</form>
{% endif %}

{% endblock %}
