{% extends "rpkigui/app_base.html" %}

{% block content %}
<!--
<ul class='breadcrumb'>
  <li><a href="{% url rpki.gui.app.views.dashboard %}">{{ request.session.handle.handle }}</a> <span class='divider'>/</span></li>
  <li>Children <span class='divider'>/</span></li>
  <li class='active'>{{ child.handle }}</li>
</ul>
-->

<div class='page-header'>
  <h1>Child View</h1>
</div>

<table>
    <tr>
        <td>Child</td>
        <td>{{ child.handle }}</td>
    </tr>
    <tr>
        <td>Valid until</td>
        <td>{{ child.valid_until }}</td>
    </tr>
</table>

<h2>Delegated Addresses</h2>
{% if child.address_range.all %}
<ul>
{% for a in child.address_range.all %}
<li><a href="{{ a.get_absolute_url }}">{{ a }}</a></li>
{% endfor %}
</ul>
{% else %}
<p style='font-style:italic'>none</p>
{% endif %}

<h2>Delegated ASNs</h2>
{% if child.asn.all %}
<ul>
{% for a in child.asn.all %}
<li><a href="{{ a.get_absolute_url }}">{{ a }}</a></li>
{% endfor %}
</ul>
{% else %}
<p style='font-style:italic'>none</p>
{% endif %}

<hr>

{% if form %}
<form method='POST' action='{{ request.get_full_path }}'>
    {% csrf_token %}
    <input type='submit'/>
</form>
{% else %}

<div class='actions'>
  <a class='btn' href="{{ child.get_absolute_url }}/edit">Edit</a>
  <a class='btn' href="{{ child.get_absolute_url }}/export" title="download XML response file to return to child">Export child response</a></li>
  <a class='btn' href="{{ child.get_absolute_url }}/export_repo" title="download XML response to publication client request">Export repo response</a></li>
  <a class='btn danger' href="{{ child.get_absolute_url }}/delete" title="remove this handle as a RPKI child">Delete</a></li>
  <a class='btn danger' href="{{ child.get_absolute_url }}/destroy" title="completely remove a locally hosted resource handle and gui account">Destroy</a></li>
</div>

{% endif %}

{% endblock %}
