{% extends "base.html" %}

{% block sidebar %}
<p><strong>{{ request.session.handle }}</strong>

<ul class='unstyled'>
  <li><a href="#">dashboard</a></li>
  <li><a href="{% url rpki.gui.app.views.parent_list %}">parents</a></li>
  <li><a href="{% url rpki.gui.app.views.child_list %}">children</a></li>
  <li><a href="{% url rpki.gui.app.views.roa_request_list %}">roas</a></li>
  <li><a href="{% url rpki.gui.app.views.ghostbusters_list %}">ghostbusters</a></li>
</ul>

<ul class='unstyled'>
  <li><a href="{% url rpki.gui.app.views.conf_export %}" title="download XML identity to send to parent">export identity</a></li>
  <li><a href="{% url rpki.gui.app.views.update_bpki %}" title="renew all BPKI certificates">update bpki</a></li>
  <li><a href="{% url rpki.gui.app.views.conf_list %}" title="select a different resource handle to manage">select identity</a></li>
</ul>

{% if user.is_staff %}
<ul class='unstyled'>
  <li><a href="{% url rpki.gui.app.views.child_wizard %}" title="create a new locally hosted resource handle">create child wizard</a></li>
</ul>
{% endif %}

<ul class='unstyled'>
  <li><a href="{% url rpki.gui.app.views.import_repository %}" title="upload XML response from remote repository">import repository</a></li>
  <li><a href="{% url rpki.gui.app.views.import_pubclient %}" title="import XML request from a publication client">import pubclient</a></li>
</ul>

<ul class='unstyled'>
    <li><a href="{% url rpki.gui.app.views.refresh %}">refresh</a></li>
</ul>
{% endblock %}

{% block content %}

<!--
<ul class='breadcrumb'>
  <li><a href='{% url rpki.gui.app.views.dashboard %}'>{{ request.session.handle }}</a><span class="divider">/</span></li>
  <li class='active'>Dashboard</li>
</ul>
-->

<div class='page-header'>
  <h1>Dashboard</h1>
</div>

<!-- OVERVIEW ############################################################## -->

<h2>Resources</h2>

<table class='condensed-table zebra-striped'>
  <tr>
    <th>Resource</th>
    <th>Valid Until</th>
    <th>Parent</th>
  </tr>

  {% for object in asn_list %}
  <tr>
    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
    <td>{{ object.from_cert.all.0.not_after }}</td>
    <td><a href="{{ object.from_cert.all.0.parent.get_absolute_url }}">{{ object.from_cert.all.0.parent.handle }}</a></th>
  </tr>
  {% endfor %}

  {% for object in address_list %}
  <tr>
    <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
    <td>{{ object.from_cert.all.0.not_after }}</td>
    <td><a href="{{ object.from_cert.all.0.parent.get_absolute_url }}">{{ object.from_cert.all.0.parent.handle }}</a></th>
  </tr>
  {% endfor %}
</table>

<!-- UNALLOCATED ##############################################################-->
<div>
  <h2>Unallocated Resources</h2>
  <p>The following resources have not been allocated to a child, or appear in a ROA.

  {% if asns or ars %}

  {% if asns %}
  <ul>
    {% for asn in asns %}
    <li>{{ asn.as_ul|safe }}
    {% endfor %} <!-- ASNs -->
  </ul>
  {% endif %}

  {% if ars %}
  <ul>
    {% for addr in ars %}
    <li>{{ addr.as_ul|safe }}
    {% endfor %} <!-- addrs -->
  </ul>
  {% endif %}

  {% else %}
  <p style='font-style:italic'>none</p>
  {% endif %}

</div>

{% endblock %}

<!-- vim: set sw=2: -->
