{% extends "base.html" %}

{% block sidebar %}
<ul class='compact'>
    <li><a href="{{ parent.get_absolute_url }}/delete">delete</a></li>
</ul>
{% endblock %}

{% block content %}
<p id='breadcrumb'>
<a href="{% url rpki.gui.app.views.dashboard %}">{{ request.session.handle.handle }}</a> &gt; Parent View &gt; {{ parent.handle }}
</p>

<h1>Parent View</h1>

<p>Parent: {{ parent.handle }}

<h2>Delegated Addresses</h2>
<ul>
{% for c in parent.resources.all %}
{% for a in c.address_range.all %}
<li><a href="{{ a.get_absolute_url }}">{{ a }}</a>
{% endfor %}
{% endfor %}
</ul>

<h2>Delegated ASNs</h2>
<ul>
{% for c in parent.resources.all %}
{% for a in c.asn.all %}
<li><a href="{{ a.get_absolute_url }}">{{ a }}</a>
{% endfor %}
{% endfor %}
</ul>

{% block form %}{% endblock %}

{% endblock %}
