{% extends "rpkigui/app_base.html" %}

{% block content %}

<!--
<ul class='breadcrumb'>
  <li><a href="{% url rpki.gui.app.views.dashboard %}">{{ request.session.handle }}</a> <span class='divider'>/</span></li>
  <li>Prefixes <span class='divider'>/</span></li>
  <li class='active'>{{ addr }}</li>
</ul>
-->

<div class='page-header'>
<h1>Prefix View</h1>
</div>

<table>
    <tr> <td>Range:</td><td>{{ addr }}</td> </tr>
    {% if addr.parent %}
    <tr>
        <td>Suballocated from</td>
        <td><a href="{{ addr.parent.get_absolute_url }}">{{ addr.parent }}</a></td>
    </tr>
    {% endif %}
    <tr>
        <td>Received from</td>
        <td>
            {% for p in parent %}
            <a href="{{ p.get_absolute_url }}">{{ p.handle }}</a>
            {% endfor %}
        </td>
    </tr>
    <tr><td>Validity</td><td>{{ addr.from_cert.all.0.not_before }} - {{ addr.from_cert.all.0.not_after }} </td></tr>

    {% if addr.allocated %}
    <tr>
        <td>Allocated</td>
        <td><a href="{{addr.allocated.get_absolute_url}}">{{ addr.allocated.handle }}</a></td>
    </tr>
    {% endif %}
</table>

{% if addr.children.count %}
<h2>Suballocations</h2>
<ul>
    {% for subaddr in addr.children.all %}
    <li><a href="{{ subaddr.get_absolute_url }}">{{ subaddr }}</a></li>
    {% endfor %}
</ul>
{% endif %} <!-- suballocations -->

{% if addr.roa_requests.count %}
<h2>ROA requests</h2>
<table class='zebra-striped'>
    <tr><th>ASN</th><th>Max Length</th></tr>

    {% for r in addr.roa_requests.all %}
    <tr>
        <td>{{ r.roa.asn }}</td>
        <td>{{ r.max_length }}</td>
        <td><a class='btn danger' href="{{ r.get_absolute_url }}/delete">delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %} <!-- roa requests -->

{% if unallocated %}
<h2>Unallocated</h2>
<ul>
    {% for u in unallocated %}
    <li>{{ u }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if form %}

<h2>{{ form_title }}</h2>
<form method="POST" action="{{ request.get_full_path }}">
  {% csrf_token %}
  {% include "rpkigui/bootstrap_form.html" %}
  <div class='actions'>
    <input class='btn primary' type="submit" value="{{ submit_value }}">
    <a class='btn' href="{{ addr.get_absolute_url }}">Cancel</a>
  </div>
</form>

{% else %}

<div class='actions'>
  {% if not addr.allocated %}
  <a class='btn' href="{{addr.get_absolute_url}}/split" title="Divide this prefix into a smaller block">Split</a>
  {% endif %}
  {% if not addr.roa_requests.all %}
  <a class='btn' href="{{addr.get_absolute_url}}/allocate" title="Give prefix to child">Allocate</a>
  {% endif %}
  {% if addr.is_prefix and not addr.allocated %}
  <a class='btn' href="{{ addr.get_absolute_url }}/roa" title="Create a ROA request for this prefix">Issue ROA</a>
  {% endif %}
  {% if not addr.allocated and addr.parent %}
  <a class='btn danger' href="{{ addr.get_absolute_url }}/delete" title="Delete this prefix">Delete</a>
  {% endif %}
</div><!-- actions -->

{% endif %} <!-- form -->

{% endblock %}

<!-- vim: set sw=2: -->
