{% extends "rpkigui/app_base.html" %}

{% block content %}

<div class='page-header'>
<h1>Delete ROA Prefix</h1>
</div>

<p>Please confirm that you would like to delete the following ROA prefix:

<table style='condensed-table'>
  <tr><th>AS</th>        <td>{{ object.roa_request.asn }}</td></tr>
  <tr><th>Prefix</th>    <td>{{ object.as_roa_prefix }}</td></tr>
  <tr><th>Max Length</th><td>{{ object.max_length }}</td></tr>
</table>

<p>The following table shows what the validation status for the routing entries
that are covered by this ROA will be if this ROA request is deleted:

<table style='zebra-striped condensed-table'>
  <tr>
    <th>Prefix</th>
    <th>Origin AS</th>
    <th>Validation Status</th>
  </tr>
  {% for r in routes %}
  <tr>
    <td>{{ r.get_prefix_display }}</td>
    <td>{{ r.asn }}</td>
    <td><span class='label {{ r.status_label }}'>{{ r.status }}</span>
  </tr>
  {% endfor %}
</table>

<form method='POST' action='{{ request.get_full_path }}'>
  {% csrf_token %}
  <div class='actions'>
    <input class='btn danger' type='submit' value='Delete'/>
    <a class='btn' href="{% url rpki.gui.app.views.roa_list %}">Cancel</a>
  </div>
</form>

{% endblock %}

<!-- vim:set sw=2: -->
