{% extends "base.html" %}

{% block content %}

<p id='breadcrumb'><a href="{% url rpki.gui.app.views.dashboard %}">{{request.session.handle}}</a> &gt; <a href="{{ object.prefix.get_absolute_url }}">{{ object.prefix }}</a> &gt; Delete ROA Request</p>

<h1>Delete ROA Request</h1>

<p>Please confirm that you would like to delete the following ROA request:</p>

<table>
    <tr><td>AS</td>        <td>{{ object.roa.asn }}</td></tr>
    <tr><td>Prefix</td>    <td><a href="{{ object.prefix.get_absolute_url }}">{{ object.prefix }}</a></td></tr>
    <tr><td>Max Length</td><td>{{ object.max_length }}</td></tr>
</table>

<p></p><!--add some space-->

<form method='POST' action='{{ request.get_full_path }}'>
{% csrf_token %}
<input type='submit'/>
</form>

{% endblock %}
