{% extends "rpkigui/app_base.html" %}

{% block content %}
<div class='page-header'>
  <h1>{{ page_title }}</h1>
</div>

{% if object_list %}
<table class='zebra-striped condensed-table'>
  <tr><th>Prefix</th><th>Max Length</th><th>ASN</th><th>Action</th></tr>
  {% for object in object_list %}
  <tr>
    <td>{{ object.as_roa_prefix }}</a></td>
    <td>{{ object.max_length }}</td>
    <td>{{ object.roa_request.asn }}</td>
    <td><a class='btn danger' href="{{ object.get_absolute_url }}/delete">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% else %}
None
{% endif %}

{% endblock %}

<!-- vim: set sw=2: -->
