{% extends "base.html" %}

{% block content %}

<ul class='breadcrumb'>
  <li><a href="{% url rpki.gui.app.views.dashboard %}">{{request.session.handle}}</a> <span class='divider'>/</span></li>
  <li><a href="{{ object.prefix.get_absolute_url }}">{{ object.prefix }}</a> <span class='divider'>/</span></li>
  <li class='active'>Delete ROA Request</li>
</ul>

<div class='page-header'>
<h1>Delete ROA Request</h1>
</div>

<p>Please confirm that you would like to delete the following ROA request:</p>

<table>
    <tr><td>AS</td>        <td>{{ object.roa.asn }}</td></tr>
    <tr><td>Prefix</td>    <td><a href="{{ object.prefix.get_absolute_url }}">{{ object.prefix }}</a></td></tr>
    <tr><td>Max Length</td><td>{{ object.max_length }}</td></tr>
</table>

<p></p><!--add some space-->

<form method='POST' action='{{ request.get_full_path }}'>
  {% csrf_token %}
  <div class='actions'>
    <input class='btn danger' type='submit' value='Delete'/>
    <a class='btn' href="{{ object.prefix.get_absolute_url }}">Cancel</a>
  </div>
</form>

{% endblock %}
