{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<div class='alert alert-danger' role='alert'>
  <p>Your username and password didn't match. Please try again.</p>
</div>
{% endif %}

<form method="post" action="{% url "rpki.gui.views.login" %}">
  {% csrf_token %}

  {% include "app/bootstrap_form.html" %}

  <input type="hidden" name="next" value="{{ next }}" />

  <button type="submit" class="btn btn-default">Login</button>

</form>

<p><a href="{% url "password_reset" %}">Forgot your password?</a></p>

{% endblock %}
