{% extends "cacheview/signedobject_detail.html" %}

{% block title %}
Resource Certificate Detail
{% endblock %}

{% block detail %}

<h2>RFC3779 Resources</h2>

<table class='table table-striped'>
  <thead>
    <tr><th>AS Ranges</th><th>IP Ranges</th></tr>
  </thead>
  <tbody>
    <tr>
        <td style='text-align:left;vertical-align:top'>
            <ul class='compact'>
                {% for asn in object.asns.all %}
                <li><a href="{{ asn.get_absolute_url }}">{{ asn }}</a></li>
                {% endfor %}
            </ul>
        </td>
        <td style='text-align:left;vertical-align:top'>
            <ul class='compact'>
                {% for rng in object.addresses.all %}
                <li><a href="{{ rng.get_absolute_url }}">{{ rng }}</a></li>
                {% endfor %}
            </ul>
        </td>
    </tr>
  </tbody>
</table>

<div class='section'>
<h2>Issued Objects</h2>
<ul>

{% if object.ghostbusters.all %}
    <li>
<h3>Ghostbusters</h3>

<table class='table table-striped'>
  <thead>
    <tr><th>Name</th><th>Expires</th></tr>
  </thead>
  <tbody>

{% for g in object.ghostbusters.all %}
    <tr class='{{ g.status_id }}'>
        <td><a href="{{ g.get_absolute_url }}">{{ g }}</a></td>
        <td>{{ g.not_after }}</td>
    </tr>
  </tbody>
{% endfor %}

</table>
{% endif %}

{% if object.roas.all %}
        <li>
<h3>ROAs</h3>
<table class='table table-striped'>
  <thead>
    <tr><th>#</th><th>Prefix</th><th>AS</th><th>Expires</th></tr>
  </thead>
  <tbody>
    {% for roa in object.roas.all %}
    {% for pfx in roa.prefixes.all %}
    <tr class='{{ roa.status_id }}'>
        <td><a href="{{ roa.get_absolute_url }}">#</a></td>
        <td>{{ pfx }}</td>
        <td>{{ roa.asid }}</td>
        <td>{{ roa.not_after }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if object.children.all %}
<li>
<h3>Children</h3>
<table class='table table-striped'>
  <thead>
    <tr><th>Name</th><th>Expires</th></tr>
  </thead>
  <tbody>

    {% for child in object.children.all %}
    <tr class='{{ child.status_id }}'>
        <td><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></td>
        <td>{{ child.not_after }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

</ul>

</div><!--issued objects-->

{% endblock %}
