{% extends "app/app_base.html" %}

{% block content %}
<div class='page-header'>
  <h1>Delete all alerts</h1>
</div>

<div class="row">
  <div class="alert">
    Please confirm that you would like to delete all alerts.
  </div>
  <form method="POST">
    {% csrf_token %}

      <button class="btn btn-danger form-control" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete All</button>
      <a class="btn btn-default form-control" href="{% url "alert-list" %}">Cancel</a>

  </form>
</div>
{% endblock %}
