{% extends "app/app_base.html" %}

{% block sidebar_extra %}
  <li class="divider"></li>
  <li><a href="{% url "rpki.gui.app.views.conf_export" %}" title="download XML identity to send to parent">
    {#<i class="icon-download"></i> #}export identity</a></li>
{% endblock sidebar_extra %}

{% block content %}
<div class='row'>
  <div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title">Resources</h2></div>
      <div class="panel-body">

      <table class='table table-condensed'>
	      <thead>
	      <tr>
	      <th>Resource</th>
	      <th>Valid Until</th>
	      <th>Parent</th>
	      </tr>
	      </thead>

	      <tbody>
	      {% for object in asns %}
	      <tr>
		<td>{{ object }}</td>
		<td>{{ object.cert.not_after }}</td>
		<td>
		  {% if object.cert.parent %}
		  <a href="{{ object.cert.parent.get_absolute_url }}">{{ object.cert.parent.handle }}</a>
		  {% endif %}
		</td>
	      </tr>
	      {% endfor %}

	      {% for object in prefixes %}
	      <tr>
		<td>{{ object.as_resource_range }}</td>
		<td>{{ object.cert.not_after }}</td>
		<td>
		  {% if object.cert.parent %}
		  <a href="{{ object.cert.parent.get_absolute_url }}">{{ object.cert.parent.handle }}</a>
		  {% endif %}
		</td>
	      </tr>
	      {% endfor %}

	      {% if prefixes_v6 %}
	      {% for object in prefixes_v6 %}
	      <tr>
		<td>{{ object.as_resource_range }}</td>
		<td>{{ object.cert.not_after }}</td>
		<td>
		  {% if object.cert.parent %}
		  <a href="{{ object.cert.parent.get_absolute_url }}">{{ object.cert.parent.handle }}</a>
		  {% endif %}
		</td>
	      </tr>
	      {% endfor %}
	      {% endif %}
	      </tbody>
	    </table>
<p>
    <a class='btn btn-default' href="{% url "rpki.gui.app.views.refresh" %}" title="refresh resource list from rpkid">
      <span class="glyphicon glyphicon-refresh"></span> Refresh
    </a>
</p>

  </div><!-- /panel-body -->
  </div><!-- /panel -->

  </div><!-- /col-md-6 -->

  <div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading"> <h2 class="panel-title">Unallocated Resources</h2></div>
      <div class="panel-body">

    <p>The following resources have not been allocated to a child, nor appear in a ROA.

    {% if unused_asns %}
    <h3>ASNs</h3>
    <ul>
      {% for asn in unused_asns %}
      <li>AS{{ asn }}
      {% endfor %} <!-- ASNs -->
    </ul>
    {% endif %}

    {% if unused_prefixes %}
    <h3>IPv4</h3>
    <table class="table table-condensed">
      <thead>
      <tr><th>Prefix</th><th>Action</th></tr>
      </thead>
      <tbody>
      {% for addr in unused_prefixes %}
      <tr>
	<td>{{ addr }}</td>
	<td>
	  <a class="btn btn-default btn-sm" title="Create ROA using this prefix" href="{% url "rpki.gui.app.views.roa_create_multi" %}?roa={{ addr }}"><span class="glyphicon glyphicon-plus-sign"></span> ROA</a>
	</td>
      </tr>
      {% endfor %} <!-- addrs -->
      </tbody>
    </table>
    {% endif %}

    {% if unused_prefixes_v6 %}
    <h3>IPv6</h3>
    <table class="table table-condensed">
      <thead>
      <tr><th>Prefix</th><th></th></tr>
      </thead>
      <tbody>
      {% for addr in unused_prefixes_v6 %}
      <tr>
	<td>{{ addr }}</td>
	<td>
	  <a class="btn btn-default btn-mini" title='create roa using this prefix' href="{% url "rpki.gui.app.views.roa_create_multi" %}?roa={{ addr }}"><span class="glyphicon glyphicon-plus-sign"></span> ROA</a>
	</td>
      </tr>
      {% endfor %} <!-- addrs -->
      </tbody>
    </table>
    {% endif %}

      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-md-6 -->
</div><!-- /row -->

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"> <h2 class="panel-title">ROAs</h2> </div>
      <div class="panel-body">

<table class="table table-condensed">
  <thead>
  <tr><th>Prefix</th><th>Max Length</th><th>AS</th><th>#</th></tr>
  </thead>
  <tbody>
  {% for roa in conf.roas %}
  <tr>
    <!-- each roa request has a single roa request prefix object associated -->
    <td>{{ roa.prefixes.all.0.as_roa_prefix }}</td>
    <td>{{ roa.prefixes.all.0.max_prefixlen }}</td>
    <td>{{ roa.asn }}</td>
    <td>
      <a class="btn btn-default btn-sm" href="{% url "rpki.gui.app.views.roa_detail" roa.pk %}" title="Detail"><span class="glyphicon glyphicon-info-sign"></span></a>
      <a class="btn btn-default btn-sm" href="{% url "rpki.gui.app.views.roa_delete" roa.pk %}" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
      <a class="btn btn-default btn-sm" href="{% url "roa-clone" roa.pk %}" title="create another ROA for this prefix"><span class="glyphicon glyphicon-repeat"></span></a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<a class="btn btn-default" href="{% url "rpki.gui.app.views.roa_create_multi" %}"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
<a class="btn btn-default" href="{% url "roa-import" %}" title="import a CSV file containing ROAs"><span class="glyphicon glyphicon-upload"></span> Import</a>
<a class="btn btn-default" href="{% url "roa-export" %}" title="download a CSV file containing ROAs"><span class="glyphicon glyphicon-download"></span> Export</a>

    </div><!-- /panel-body -->
  </div><!-- /panel -->
</div><!-- /col-md-6 -->

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"> <h2 class="panel-title">Ghostbusters</h2> </div>
      <div class="panel-body">

<table class="table table-condensed">
  <thead>
  <tr><th>Full Name</th><th>Organization</th><th>Email</th><th>Telephone</th><th></th></tr>
  </thead>
  <tbody>
  {% for gbr in conf.ghostbusters %}
  <tr>
    <td>{{ gbr.full_name }}</td>
    <td>{{ gbr.organization }}</td>
    <td>{{ gbr.email_address }}</td>
    <td>{{ gbr.telephone }}</td>
    <td>
      <a class="btn btn-default btn-mini" href="{% url "gbr-detail" gbr.pk %}" title="View"><span class="glyphicon glyphicon-info-sign"></span></a>
      <a class="btn btn-default btn-mini" href="{% url "gbr-edit" gbr.pk %}" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
      <a class="btn btn-default btn-mini" href="{% url "gbr-delete" gbr.pk %}" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<a class="btn btn-default" href="{% url "gbr-create" %}"><i class="glyphicon glyphicon-plus-sign"></i> Create</a>

      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-md-6 -->
</div><!-- /row -->

<div class='row'>
<div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading"> <h2 class="panel-title">Router Certificates</h2> </div>
      <div class="panel-body">
<table class='table table-condensed'>
<thead>
<tr><th>SN</th><th>ASN</th><th>Valid Until</th></tr>
</thead>
<tbody>
{% for rtr in conf.router_certs %}
<tr>
  <td>{{ rtr.sn }}</td> <td>{{ rtr.asns.all.0.start_as }} </td>
  <td>{{ rtr.valid_until }}</td>
  <td>
    <a class="btn btn-default btn-mini" href="{% url "router-detail" rtr.pk %}" title="View"><span class="glyphicon glyphicon-info-sign"></span></a>
    <a class="btn btn-default btn-mini" href="{% url "router-delete" rtr.pk %}" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
<a class="btn btn-default " href="{% url "router-import" %}"><span class="glyphicon glyphicon-plus-sign"></span> Import</a>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
</div><!-- /col-md-6 -->
</div><!-- /row -->

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"> <h2 class="panel-title">Children</h2> </div>
      <div class="panel-body">

<table class="table table-condensed">
  <thead>
  <tr><th>Handle</th><th>#</th>
  </thead>
  <tbody>
      {% for child in conf.children %}
      <tr>
      <td><a href="{{ child.get_absolute_url }}">{{ child.handle }}</a></td>
	<td>
	  <a class="btn btn-default btn-mini" href="{% url "rpki.gui.app.views.child_delete" child.pk %}" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
	</td>
      </tr>
      {% endfor %}
  </tbody>
    </table>

    <div class="row">
      <div class='col-md-6'>
	<a class="btn btn-default" href="{% url "rpki.gui.app.views.child_import" %}" title="Import XML request from Child"><span class="glyphicon glyphicon-upload"></span> Child</a>
	<a class="btn btn-default" href="{% url "import-asns" %}" title="Import CSV file containing ASN delgations to children"><span class="glyphicon glyphicon-upload"></span> ASNs</a>
	<a class="btn btn-default" href="{% url "import-prefixes" %}" title="import CSV file containing prefix delgations to children"><span class="glyphicon glyphicon-upload"></span> Prefixes</a>
      </div>
    </div>

    <div class="row">
      <div class='col-md-6'>
	<a class="btn btn-default" href="{% url "export-asns" %}" title="Export CSV file containing ASN delgations to children"><span class="glyphicon glyphicon-download"></span> ASNs</a>
	<a class="btn btn-default" href="{% url "export-prefixes" %}" title="Export CSV file containing prefix delgations to children"><span class="glyphicon glyphicon-download"></span> Prefixes</a>
      </div>
    </div>

      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-md-6 -->

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"> <h2 class="panel-title">Parents</h2> </div>
      <div class="panel-body">

    <table class="table table-condensed table-striped">
      <tr><th>Handle</th><th>#</th></tr>
      {% for parent in conf.parents %}
      <tr>
	<td><a href="{{ parent.get_absolute_url }}">{{ parent.handle }}</a></td>
	<td>
	  <a class="btn btn-default btn-mini" href="{% url "rpki.gui.app.views.parent_delete" parent.pk %}" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
	</td>
      </tr>
      {% endfor %}
    </table>
    <a class="btn btn-default" href="{% url "rpki.gui.app.views.parent_import" %}"><span class="glyphicon glyphicon-upload"></span> Import</a>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-md-6 -->
</div><!-- /row -->

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"> <h2 class="panel-title">Repositories</h2> </div>
      <div class="panel-body">

<table class="table table-condensed">
<thead>
      <tr><th>Handle</th><th></th></tr>
</thead>
<tbody>
      {% for repo in conf.repositories %}
      <tr>
	<td><a href="{{ repo.get_absolute_url }}">{{ repo.handle }}</a></td>
	<td>
	  <a class="btn btn-default btn-mini" href="{% url "rpki.gui.app.views.repository_delete" repo.pk %}" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
	</td>
      </tr>
      {% endfor %}
</tbody>
    </table>
    <a class="btn btn-default" href="{% url "rpki.gui.app.views.repository_import" %}"><span class="glyphicon glyphicon-upload"></span> Import</a>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
  </div><!-- /col-md-6 -->
</div><!-- /row -->
{% endblock %}
