{% extends "app/app_base.html" %}
{% load url from future %}

{% block content %}
<div class="page-header">
  <h1>Parent: {{ object.handle }}</h1>
</div>

<table class="table table-striped table-condensed">
  <tr>
    <td>service_uri</td>
    <td>{{ object.service_uri }}</td>
  </tr>
  <tr>
    <td>parent_handle</td>
    <td>{{ object.parent_handle }}</td>
  </tr>
  <tr>
    <td>child_handle</td>
    <td>{{ object.child_handle }}</td>
  </tr>
  <tr>
    <td>repository_type</td>
    <td>{{ object.repository_type }}</td>
  </tr>
  <tr>
    <td>referrer</td>
    <td>{{ object.referrer }}</td>
  </tr>
  <tr>
    <td>ta validity period</td>
    <td>{{ object.ta.getNotBefore }} - {{ object.ta.getNotAfter }}</td>
  </tr>
</table>

<div class='row-fluid'>
  <div class='span6'>
    <h3>Delegated Addresses</h3>
    <ul class='unstyled'>
      {% for c in object.certs.all %}
      {% for a in c.address_ranges.all %}
      <li>{{ a }}</li>
      {% endfor %}
      {% for a in c.address_ranges_v6.all %}
      <li>{{ a }}</li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  <div class='span6'>
    <h3>Delegated ASNs</h3>
    <ul class='unstyled'>
      {% for c in object.certs.all %}
      {% for a in c.asn_ranges.all %}
      <li>{{ a }}</li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>

{% block action %}
<a class='btn' href='{% url "rpki.gui.app.views.parent_export" object.pk %}' title='Download XML to send to repository operator'><i class="icon-download"></i> Export</a>
<a class="btn" href="{% url "rpki.gui.app.views.parent_delete" object.pk %}" title="Delete this parent"><i class="icon-trash"></i> Delete</a>
{% endblock action %}

{% endblock content %}
