{% extends "app/app_base.html" %}
{% load app_extras %}

{% block content %}
<div class='page-header'>
  <h1>Delete ROA Request</h1>
</div>

<div class='row'>
  <div class='col-md-6'>
    <div class='alert alert-block alert-warning'>
      <p><strong>Please confirm</strong> that you would like to delete the
      following ROA Request.  The table to the right indicates how validation
      status for matching routes may change.
    </div>

    <table class='table'>
      <tr>
	<th>Prefix</th>
	<td>{{ object.prefixes.all.0.as_roa_prefix }}</td>
      </tr>
      <tr>
	<th>Max Length</th>
	<td>{{ object.prefixes.all.0.max_prefixlen }}</td>
      </tr>
      <tr>
	<th>AS</th>
	<td>{{ object.asn }}</td>
      </tr>
    </table>

    <form method='POST' action='{{ request.get_full_path }}'>
      {% csrf_token %}
      <input class='btn btn-danger form-control' type='submit' value='Delete'/>
      <a class='btn btn-default form-control' href="{% url "dashboard" %}">Cancel</a>
    </form>
  </div>

  <div class='col-md-6'>
    <h2>Matching Routes</h2>

    <table class='table'>
      <thead>
	<tr>
	  <th>Prefix</th>
	  <th>Origin AS</th>
	  <th>Validation Status</th>
	</tr>
      </thead>
      <tbody>
      {% for r in routes %}
      <tr>
	<td>{{ r.get_prefix_display }}</td>
	<td>{{ r.asn }}</td>
	<td>{% validity_label r.newstatus %}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div><!-- /col-md-6 -->
</div><!-- /row -->
{% endblock content %}
