{% extends "app/app_base.html" %}
{% load bootstrap_pager %}
{% load app_extras %}

{% block sidebar_extra %}
<li class="nav-header">BGP data updated</li>
<li>IPv4: {{ timestamp.bgp_v4_import.isoformat }}</li>
<li>IPv6: {{ timestamp.bgp_v6_import.isoformat }}</li>
<li class="nav-header">rcynic cache updated</li>
<li>{{ timestamp.rcynic_import.isoformat }}</li>
{% endblock sidebar_extra %}

{% block content %}

<div class='page-header'>
  <h1>Route View</h1>
</div>

<p>
This view shows currently advertised routes for the prefixes listed in resource certs received from RPKI parents.

<form method="POST" action="{% url "suggest-roas" %}">
  {% csrf_token %}
  <table class='table table-condensed'>
    <thead>
      <tr>
	<th></th>
	<th>Prefix</th>
	<th>Origin AS</th>
	<th>Validation Status</th>
      </tr>
    </thead>
    <tbody>
      {% for r in routes %}
      <tr>
	<td><input type="checkbox" name="pk-{{ r.pk }}"></td>
	<td>{{ r.get_prefix_display }}</td>
	<td>{{ r.asn }}</td>
	<td>
	  {# {% validity_label r.status %} #}
{# <a href='{% url "rpki.gui.app.views.route_detail" r.pk %}' title='display ROAs covering this prefix'><span class="glyphicon glyphicon-info-sign"></span></a> #}

          <a tabindex="0" role="button" class="btn btn-success btn-sm" data-toggle="popover" data-trigger="focus" data-content="tbd" title="Covering ROAs">{{ r.status }} <span class="caret"></span></a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <button type="submit" class="btn btn-default" title="create ROAs for selected routes"><span class="glyphicon glyphicon-plus-sign"></span> Create ROAs</button>

</form>

{% bootstrap_pager request routes %}

{% endblock content %}
