<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name='Content-Type' content='text/html; charset=UTF-8'>
    <title>{% block title %}RPKI{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
    <style type="text/css">
      body { padding: 40px }
    </style>
  </head>
  <body>

    <!-- TOP BAR -->
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
	  <a class="brand" href="#">rpki.net</a>
	  <ul class='nav'>
	    <li class="active">
	      <a href="#">Home</a>
	    </li>
	    <li class="divider-vertical"></li>
	  {% if user.is_authenticated %}
	    <li><p class="navbar-text">Logged in as {{ user }}</li>
	    <li class="divider-vertical"></li>
	    <li><a href="{% url django.contrib.auth.views.logout %}">Log Out</a></li>
	  {% endif %}
	  </ul>
	</div>
      </div>
    </div><!-- topbar -->

    <div class="container-fluid">
    <!-- MAIN CONTENT -->
      <div class="row-fluid">
	<div class="span2">
	  {% block sidebar %}{% endblock %}
	</div>

	<div class="span10">
	  {% block content %}{% endblock %}
	</div>
    </div>

  </body>
</html>
