<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta name='Content-Type' content='text/html; charset=UTF-8'>
    <title>{% block title %}RPKI{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/site_media/css/bootstrap.min.css">
    <style type="text/css">
      body { padding-top: 50px; }
      {% block css %}{% endblock %}
    </style>
  </head>
  <body>
    <!-- TOP BAR -->
    <div class="topbar">
      <div class="topbar-inner">
	<div class="container">
	  <a class="brand" href="#">rpki.net</a>

	  <ul class='nav'>
	    {% if user.is_staff %}
	    <li><a href="/admin/">Admin</a></li>
	    {% endif %}
	  </ul>

	  {% if user.is_authenticated %}
	  <ul class='nav secondary-nav'>
	    <li><p>Logged in as {{ user }}</li>
	    <li><a href="{% url django.contrib.auth.views.logout %}">Log Out</a></li>
	  </ul>
	  {% endif %}

	</div>
      </div>
    </div><!-- topbar -->

    <!-- MAIN CONTENT -->
    <div class="container-fluid">
      <div class='content'>
	{% block content %}{% endblock %}
      </div><!-- /content -->

      <div class="sidebar">
	{% block sidebar %}{% endblock %}
      </div><!-- /sidebar -->
    </div><!-- /container-fluid -->

  </body>
</html>
